/* Paleta de colores
oscuro: #2d2220
oscuro-medio: #382926
claro-medio: #5a413c
claro: #bc8c64
blanco: #ffffff */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Krub:wght@400;700&display=swap');
/* font-family: 'Josefin Sans' */

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2.5rem;
    background-color:#5a413c
}


/*! header ------------------------------------------------------------------------------------------------ */
.nav{
    position: sticky;
    top: 0;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    font-size: 1.5rem;
    background-color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 1000
}

header nav{
    margin-right: 50px;
}

header img{
    margin-left: 20px;
    width: 80px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header li{
    margin: 0 17px 0 17px;
}

header a{
    color: #2d2220;
    text-decoration: none;
}


/*! main de index ------------------------------------------------------------------------------------------------*/

/* banner */
main{
    color: #ffffff;
    background-color: #5a413c;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
}

.subtitulo{
    font-weight: 300;
}

h1{
    font-size: 4rem;
}

.banner{
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(../medios/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img{
    width: 65px;
    margin-bottom: 15px;
}

/* primera sección */
section h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

main p{
    font-size: 2rem;
    font-weight: 300;
}

main div h3{
    font-size: 2rem;
    margin: 50px;
}

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 150px 10px 150px;
    text-align: justify;
}

.informacion h2{
    padding: 50px;
    width: 50%;
    background-color: #382926;
    border: #ffffff solid 1px;
}

.informacion p{
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;
}

section h2 span{
    font-weight: 300;
    display: block;
}

/* segunda sección */
.caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caracteristicas p{
    margin: 50px
}

.calidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.3%;
    background-color: #382926
}

.calidad img{
    width: 70%;
    border: #5a413c solid 2px;
    padding: 8px;
}

.calidad p{
    margin: 30px 60px;
    text-align: justify;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.3%;
}

.servicios img{
    width: 70%;
    border: #382926 solid 2px;
    padding: 8px;
}

.servicios p{
    margin: 30px 60px;
    text-align: justify; 
}

.variedad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30.3%;
    background-color: #382926
}

.variedad img{
    width: 70%;
    border: #5a413c solid 2px;
    padding: 8px;
}

.variedad p{
    margin: 30px 60px;
    text-align: justify;
}

/* descripción */

.segunda-info{
    padding: 20px 50px;
    margin-top: 20px;
}

/* tercer sección */
.destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos{
    margin: 20px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: #2d2220 solid 2px;
    width: 60%;
    height: 50%
}

.productos img{
    width: 30%;
    height: 50%;
    text-align: justify;
}

.texto-productos{
    padding-left: 10px;
    width: 400px;
    height: 300px;
}

/*! main de menú ------------------------------------------------------------------------------------------*/
.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../medios/fondo-granos.jpg);
    background-size: cover;
}

.division{
    grid-area: division;
    background-color: #5a413c;
}

.menu{
    display: grid;
    grid-template-columns: 4fr 1fr 0.05fr 4fr 1fr;
    grid-template-rows: 200px 200px 200px 300px;
    background-color:#2d2220;
    width: 50%;
    height: 1000px;
    grid-template-areas:
    "titulo-menu    titulo-menu   division   bebidas-calientes   precios2"
    "bebidas-frias  precios1      division   bebidas-calientes   precios2"
    "bebidas-frias  precios1      division   desayunos           precios3"
    "tortas         precios4      division   desayunos           precios3";
    row-gap: 30px;
}

/* productos */
div p{
    font-size: 1.5rem;
}

.titulo-menu{
    grid-area: titulo-menu;
    text-align: center;
    padding-top: 40px;
}

.texto{
    font-size: 9rem;
    margin: 0px;
}

.bebidas-calientes{
    grid-area: bebidas-calientes;
    width: 100%;
    height: 100%;
    padding-left: 30px ;
}

.bebidas-frias{
    grid-area: bebidas-frias;
    padding-left: 30px ;
}

.desayunos{
    grid-area: desayunos;
    width: 100%;
    height: 100%;
    padding-left: 30px ;
}

.tortas{
    grid-area: tortas;
    padding-left: 30px ;
}

.bebidas-calientes h2, .bebidas-frias h2, .desayunos h2, .tortas h2{
    text-align: left;
}

/* precios */
.precios1{
    grid-area: precios1;
    margin-top: 68px;
}

.precios2{
    grid-area: precios2;
    margin-top: 72px;
}

.precios3{
    grid-area: precios3;
    margin-top: 68px;
}

.precios4{
    grid-area: precios4;
    margin-top: 70px;
}

/*! main sobre nosotros -----------------------------------------------------------------------------------*/
/* primer sección */
.titulo-sobre-nosotros, .titulo-contacto{
    text-align:start;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 3rem;
}

.sobre-nosotros{
    display: flex;
}

.historia{
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 40px
}

/* segunda sección */
.caracteristicas-ns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#382926;
    margin-bottom: 30px;
}

.c1{
    text-align: center;
    padding: 20px;
}

.c1 h2{
    font-size: 3rem;
}

/* tercer sección */
.tarjetas{
    margin-top: 30px;
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
}

.nombre{
    margin: 5px;
    text-align: center;
    padding: 0;
}

.elementos{
    align-items: center;
    height: 300px;
}

.imagen{
    width: 90%;
    padding-top: 10px;
}

.texto-tarjeta{
    padding: 0;
    margin: 0 10px;
    font-weight: 300;
    text-align: start;
}

.card-body{
    padding: 0;
}

/* cuarta sección */
.cuarta-seccion{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.slider{
    width: 45%;
    padding: 30px;
    background-color: #382926;
}

.destaca{
    background-color: #382926;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around
}

.cualidades{
    width: 50%;
    font-size: 1.5rem;
    font-weight: 300;
}

li{
    padding-top: 30px;
}

li span{
    font-weight: 400;
    display: block;

}
/*! main de contacto --------------------------------------------------------------------------------------*/
.tc2{
    text-align: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensaje{
    width: 40%;
    text-align: center;
}

.formulario{
    margin: 20px;
    padding: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:flex-end;
    border:#ffffff solid 1px;
    border-radius: 10px;
}

form input, textarea{
    color: #ffffff;
    width: 200px;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #5a413c;
    border: #ffffff solid 1px;
}

input::placeholder, textarea::placeholder {
    color:#ffffff
  }

form button{
    color: #2d2220;
    padding: 5px;
    margin: 20px 10px;
    font-size: 1.7rem;
    width: 200px;
    border-radius: 5px;
}

form button:hover{
    background-color:#e2e2e2
}

.container-form2{
    position: absolute;
    bottom: 5px;
    right: 52%;
    width: 20%;
    height: 300px;
    background-color: #ffffff;
    color: #5a413c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: 30px
}

.container-form2 div p{
    font-weight: 400;
    padding: 10px;
}

.icon1{
    width: 20px;
    margin-top: 47px;
}

.icon2{
    width: 20px;
    margin-top: 65px;
}

.icon3{
    width: 20px;
        margin-top: 12px;
}

.tarjeta-form{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.dos-tarjetas{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

/*! main de faq -------------------------------------------------------------------------------------------*/
.container-gral{
    background-image: url(../medios/fondo-granos.jpg);
    background-size:contain
}
.grupo{
    margin: 60px;
}

.h1faq{
    text-align: center;
}

.h2faq{
    font-size: 2rem;
}

.container{
    width: 60%;
    background-color: #2d2220;
}

.pregunta{
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;  
    margin: 10px;
}

.respuesta{
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    padding: 20px;
}

.card-header{
    background-color:#5a413c;
}


.card{
    background-color:#382926
}






/*! footer ------------------------------------------------------------------------------------------------*/
footer{
    height: 50px;
    padding: 0 15px 0 15px; 
    background-color: #2d2220;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
    margin-left: 10px;
}

footer svg{
    margin-top: 5px;
    width: 30px;
}

footer p{
    margin: 5px;
}

/*! mediaQ de INDEX ------------------------------------------------------------------------------------------------*/
@media (min-width:367px) and (max-width: 480px) {
    /* main mobile */
    main{
        overflow: auto;
        align-items: center;
    }
    /* banner */
    .banner{
        width: 100%;
        height: 130px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    section h1{
        font-size: 2rem;
    }

    .banner img{
        width: 40px;
        padding-top: 10px;
    }

    .subtitulo{
        font-size: 1.5rem;
    }

    /* primera sección */
    .informacion{
        justify-items: center;
        width: 70%;
    }

    .informacion h2{
        width: 270px;
        padding: 10px;
    }
    section h2{
        font-size: 1.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    section div p{
        font-size: 1.5rem;
    }

    /* segunda sección */
    .caracteristicas{
        flex-direction: column;
    }
    
        /* calidad y origen */
    .calidad{
        width: 100%;
    }

    .calidad img{
        width: 70%;
    }

    .calidad p{
    margin: 10px 60px;
    }

    .calidad h3{
        margin: 20px 80px 10px 80px;
    }

        /* servicios personalizados */
    .servicios{
        width: 100%;
    }

    .servicios img{
        width: 70%;
    }

    .servicios p{
    margin: 10px 60px;
    }

    .servicios h3{
        margin: 20px 80px 10px 80px;
    }

        /* variedad de productos */
    .variedad{
        width: 100%;
    }

    .variedad img{
        width: 70%;

    }

    .variedad p{
    margin: 10px 60px;
    }

    .variedad h3{
        margin: 20px 80px 10px 80px;
    }
    
    /* destacados */
    .segunda-info{
        border: #2d2220 solid 2px;
        padding: 10px;
        text-align: center;
        margin: 25px
    }

    /* tercera sección */
        /* Ethiopian */
    .destacados h2{
        font-size: 2rem;
    }

    .bg-ethiopian{
        overflow: auto;
        width: 100%;
        background-image: url(../medios/ethiopian.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-mobile h3{
        background-color: #2d2220;
        border: #ffffff solid 2px;
        text-align: center;
        font-size: 1.9rem;
        padding: 5px;
    }

    .texto-productos{
        padding-left: 0;
    }

    .texto-productos p{
        padding: 10px;
        margin-bottom: 0;
    }

    .productos img{
        display: none;
    }

        /* geisha */
    .bg-geisha{
        overflow: auto;
        width: 100%;
        background-image: url(../medios/geisha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-mobile h3{
        background-color: #2d2220;
        border: #ffffff solid 2px;
        text-align: center;
        font-size: 1.9rem;
        padding: 5px;
    }

        /* tarrazú */
    .bg-tarrazu{
        overflow: auto;
        box-sizing:content-box;
        width: 100%;
        background-image: url(../medios/tarrazu.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .bg-mobile h3{
        background-color: #2d2220;
        border: #ffffff solid 2px;
        text-align: center;
        font-size: 1.9rem;
        padding: 5px;
    }

    /* footer */
    footer{
        height: auto;
        padding: 0 15px 0 15px; 
        background-color: #2d2220;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .derechos{
        margin-left: 0;
        text-align: center;
    }
}

/*! mediaQ de MENÚ ------------------------------------------------------------------------------------------------*/
@media (min-width:367px) and (max-width: 480px){
    .menu{
        background-color:white;
        width: 100%;
        row-gap: 0;
        height: 900px;
    }

    .titulo-menu{
        padding: 0;
        margin: 0;
    }

    .texto{
        color:#2d2220;
        font-size: 7rem;
        padding-top: 10px;
    }

    .bebidas-calientes{
        color: #2d2220;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .bebidas-frias{
        color: #2d2220;
        padding: 0 0 0 15px;
    }

    .desayunos{
        color: #2d2220;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .tortas{
        color: #2d2220;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .precios1{
        color: #2d2220;
        margin-top: 17px;
        padding: 0 10px;
    }
    
    .precios2{
        color: #2d2220;
        margin-top: 17px;
        padding: 0 10px;
    }
    
    .precios3{
        color: #2d2220;
        margin-top: 17px;
        padding: 0 10px;
    }

    .precios4{
        color: #2d2220;
        margin-top: 17px;
        padding: 0 10px;
    }
}

/*! mediaQ SOBRE NOSOTROS -----------------------------------------------------------------------------------------*/
@media (min-width:367px) and (max-width: 480px){
    .titulo-sobre-nosotros{
        text-align:center;
        font-size: 2.5rem;
        padding: 0;
        margin: 20px 0 ;
        margin-bottom: 0;
    }

    .sobre-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    iframe {
        width: 100%;
        padding-bottom: 40px;
    }
    .historia{
        width: 100%;
    }

    .historia p{
        font-size: 1.7rem;
        width: 100%;
        text-align: justify;
        padding-bottom: 20px;
    }

    .caracteristicas-ns{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color:#382926;
        margin-bottom: 30px;
    }

    .tarjetas{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-bottom: 0px;
    }

    .nombre{
        color:#ffffff
    }

    .texto-tarjeta{
        color: #ffffff;
    }

    .elementos{
        margin-top: 20px;
    }

    .destaca{
        background-color: #382926;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider{
        width: 90%;
    }

    .cualidades{
        width: 90%;
        font-size: 1.7rem;
        font-weight: 300;
        padding-bottom: 20px;
    }

    li{
        padding-top: 0px;
        padding-bottom: 20px;
    }
} 

/*! mediaQ CONTACTO ---------------------------------------------------------------------------------------------*/
@media (min-width:367px) and (max-width: 480px){
    .tc2{
        text-align: center;
        margin: 15px 0 0 0;
    }

    .mensaje{
        font-size: 2rem;
        width: 80%;
        text-align: center;
    }

    .titulo-contacto{
        font-size: 2.5rem;
        padding: 0;
        margin: 15px 0 ;
    }

    .dos-tarjetas{
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    form input, textarea{
        width: 80%;
    }

    .formulario{
        width: 70%;
        align-items: center;
    }

    .container-form2{
        position: initial;
        width: 90%;
    }

    .icon1{
        width: 20px;
        margin-top: 47px
    }
    
    .icon2{
        width: 20px;
        margin-top: 40px
    }
    
    .icon3{
        width: 20px;
            margin-top: 15px
    }

    svg{
        display: flex;
        flex-direction: column;
    }
}

/*! mediaQ CONTACTO ---------------------------------------------------------------------------------------------*/
@media (min-width:367px) and (max-width: 480px){
    .container-gral{
        background-image: initial;
    }

    .container{
        width: 100%;
    }

    .accordion{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grupo{
        width: 90%;
        margin: 40px 0 10px 0 ;
    }
}