@media (min-width:481px) and (max-width: 950px){
/* index */
    main{
        align-items: center;
        .banner{
            width: 100%;
            height: 130;
            padding-top: 0px;
            padding-bottom: 0px;
            img{
                width: 40px;
                padding-top: 10px;
            }
            h1{
                font-size: 2rem;
            }
            .subtitulo{
                font-size: 1.5rem;
            }
        }
        .informacion{
            margin:0;
            width: 100%;
            h2{
                height: 100px;
                width: 400px;
                font-size: 1.8rem;
                padding: 25px;
                margin: 20px;
            }
            div{
                p{
                    font-size: 1.6rem;
                    margin: 0 35px 0 35px;
                }
            }
        }
        .caracteristicas{
            flex-direction: column;
            .calidad, .servicios, .variedad{
                width: 100%;
                h3{
                    margin: 20px 80px 10px 80px;
                }
                img{
                    width: 50%;
                }
                p{
                    padding-bottom: 20px;
                    margin: 10px 60px;
                    font-size: 1.5rem;
                    text-align: justify;
                }
            }
        }
        .segunda-info{
            padding: 0;
            margin: 0;
            p{
                padding-top: 25px;
                font-size: 1.6rem;
                margin: 0 35px 0 35px;
                text-align: justify;
            }
        }
        .destacados{
            width: 100%;
            h2{
                font-size: 2rem;
                margin-bottom: 0px;
                margin-top: 30px;
            }
            .productos{
                width: 60%;
                .texto-productos{
                    width: 100%;
                    padding-left: 0;
                    .bg-mobile{
                        overflow: auto;
                        height: 150px;
                        width: 100%;
                        background-image: url(../../medios/ethiopian.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        h3{
                            background-color: $brown;
                            border: $blanco solid 2px;
                            text-align: center;
                            font-size: 1.9rem;
                            padding: 5px;
                            width: 250px;
                            margin: auto;
                            margin-top: 50px;
                        }
                    }
                    .bg-geisha{
                        overflow: auto;
                        width: 100%;
                        background-image: url(../../medios/geisha.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        h3{
                            background-color: $brown;
                            border: $blanco solid 2px;
                            text-align: center;
                            font-size: 1.9rem;
                            padding: 5px;
                            width: 70%;
                        }
                    }
                    .bg-tarrazu{
                        overflow: auto;
                        width: 100%;
                        background-image: url(../../medios/tarrazu.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    p{
                        margin: 0;
                        font-size: 1.5rem;
                        padding: 10px;
                        margin-bottom: 0;
                    }
                }
                img{
                    display: none;
                }
            }
        }
    }
/*menu*/
    .main-menu{
        .menu{
            width: 500px;
            .titulo-menu{
                padding: 0;
                margin: 0;
                .texto{
                    padding-top: 10px;
                }
            }
            .bebidas-calientes{
                padding: 35px 0 0 15px;
                margin: 0;
            }
            .bebidas-frias{
                margin: 0;
                padding: 0 0 0 15px;
                span{
                    display: block;
                }
            }
            .desayunos{
                padding: 35px 0 0 15px;
                margin: 0;
            }
            .tortas{
                padding: 0 0 0 15px;
                margin-top: 50px;
                span{
                    display: block;
                }
            }
            .precios-frias{
                margin-top: 65px;
                padding: 0 10px;
            }
            .precios-tortas{
                margin-top: 117px;
                padding: 0 10px;
            }
        }
    }

/*sobre nosotros*/
    main{
        .titulo-sobre-nosotros{
            background-color: $light-brown1;
            text-align:center;
            padding: 30px 0 0 0;
            width: 100%;
        }
        .sobre-nosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            .historia{
                width: 100%;
                p{
                    font-size: 1.7rem;
                    width: 100%;
                    text-align: justify;
                    padding-bottom: 20px;
                }
            }
            iframe {
                width: 100%;
                padding-bottom: 40px;
            }
        }
        .caracteristicas-ns{
            width: 100%;
        }
        .tarjetas{
            width: 100%;
            .elementos{
                margin: 10px;
            }
        }
        .cuarta-seccion{
            margin: 0;
        }
        .destaca{
            background-color: $light-brown1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slider{
                width: 500px;
            }
            .cualidades{
                width: 90%;
                font-size: 1.7rem;
                font-weight: 300;
                padding-bottom: 20px;
                li{
                    padding-top: 0px;
                    padding-bottom: 20px;
                }
            }
        }
    }



/*404 not found*/
    .main-error{
        background-color: $blanco;
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            justify-content: flex-start;
            height: 600px;
            @include flex(column, center, center);
            height: auto;
            .texto1{
                font-size: 5rem;
                padding: 10px;
                text-align: center;
                align-self: center;
                display: block;
                
            }
            .texto2{
                font-size: 1.7rem;
                color: $brown;
                display: block;
                padding: 0 20px 0 20px;
                margin: 0;
                width: 80%;
            }
            .enlace3{
                font-size: 1.5rem;
                align-self: center;
                color: $light-brown2;
                padding-bottom: 10px;
                visibility: visible;
            }
            p{
                margin: 10px;
                text-align: center;
                display: block;
            }
            .fondo{
                background-image: url(../../medios/not-found.PNG);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 350px;
                margin: 10px;
                height: 350px;
            }
        }
    }




/*footer*/
    footer{
        height: auto;
        padding: 0 15px 0 15px; 
        background-color: $brown;
        color: $blanco;
        @include flex(column, flex-start, center);
        .derechos{
            margin-left: 0;
            text-align: center;
        }
    }
}