.main-error{
    background-color: $blanco;
    section{
        @include flex(column, flex-start, center);
        .texto1{
            color: $brown;
            font-size: 5rem;
            padding: 40px 0 40px 0;
            text-align: center;
            align-self: center;
            display: block;
        }
        .texto2{
            width: 600px;
            font-size: 1.7rem;
            color: $brown;
            display: block;
            padding: 0 15px 0 15px;
            margin: 0;
        }
        .enlace3{
            font-size: 1.5rem;
            align-self: center;
            color: $light-brown2;
            padding-bottom: 10px;
            visibility: visible;
            padding-bottom: 30px;
        }
        p{
            margin: 10px;
            text-align: center;
            display: block;
        }
        .fondo{
            width: 40%;
        }
    }
}