.container-form {
    background-image: linear-gradient(to top, $brown,$light-brown2);
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo-contacto {
        text-align: start;
        margin-top: 30px;
        margin-left: 40px;
        font-size: 3rem;
    }

    .mensaje {
        font-size: 1.5rem;
        font-weight: 300;
        width: 40%;
        text-align: center;
    }

    .dos-tarjetas {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;

        .formulario {
            margin: 20px;
            padding: 5px;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: $blanco solid 1px;
            border-radius: 10px;

            p {
                margin-top: 20px;
                font-size: 1.7rem;
                font-weight: 400; 
            }

            input, textarea {
                color: $blanco;
                width: 85%;
                font-size: 1.7rem;
                font-weight: 300;
                padding: 5px;
                margin: 15px;
                border-radius: 5px;
                background-color: $light-brown2;
                border: $blanco solid 1px;

                &::placeholder {
                    color: $blanco;
                }

                &:focus {
                    transform: scale(1.05);
                    transition: 0.2s;
                }
            }

            .boton-ui {
                transform: scale(0.7);

                .c-button {
                    color: #000;
                    font-weight: 700;
                    font-size: 16px;
                    text-decoration: none;
                    padding: 0.9em 1.6em;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    z-index: 1;

                    &--gooey {
                        color: $light-brown2;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        border: 4px solid $milk-coffe;
                        border-radius: 0;
                        position: relative;
                        transition: all 700ms ease;

                        .c-button__blobs {
                            height: 100%;
                            filter: url(#goo);
                            overflow: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: -3px;
                            right: -1px;
                            z-index: -1;

                            div {
                                background-color: $milk-coffe;
                                width: 34%;
                                height: 100%;
                                border-radius: 100%;
                                position: absolute;
                                transform: scale(1.4) translateY(125%) translateZ(0);
                                transition: all 700ms ease;

                                &:nth-child(1) {
                                    left: -5%;
                                }
                                &:nth-child(2) {
                                    left: 30%;
                                    transition-delay: 60ms;
                                }
                                &:nth-child(3) {
                                    left: 66%;
                                    transition-delay: 25ms;
                                }
                            }
                        }

                        &:hover {
                            color: #fff;

                            .c-button__blobs div {
                                transform: scale(1.4) translateY(0) translateZ(0);
                            }
                        }
                    }
                }
            }
        }

        .container-form2 {
            width: 30%;
            height: 500px;
            background-color: $blanco;
            color: $light-brown2;
            padding: 30px 30px 0px 30px;
            margin: 20px 30px 0px 50px;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 8fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 5fr; 
            grid-template-areas:
                ".           encuentrenos"
                "direccion   texto-direccion"
                "email       texto-email"
                "telefono    texto-telefono"
                "iframe      iframe";
            align-content: stretch;
            justify-items: start;
        
            .icon1{
                grid-area: direccion;
                width: 20px;
                justify-self: end;
                margin-right: 10px;
                align-self:flex-start
            }
        
            .icon2{
                @extend .icon1;
                grid-area: email;
            }
        
            .icon3{
                @extend .icon1;
                grid-area: telefono;
            }
        
            .tarjeta-form{
                grid-area: encuentrenos;
                font-size: 2rem;
            }
        
            .texto-telefono{
                font-weight: 400;
                grid-area: texto-telefono;
            }
        
            .texto-email{
                font-weight: 400;
                grid-area: texto-email;
            }
        
            .texto-direccion{
                font-weight: 400;
                grid-area: texto-direccion;
            }

            iframe{
                justify-self: center;
                width: 90%;
                height: 240px;
                grid-area: iframe;
            }
        }
    }
}
